*{
    margin:10px;
    padding: 0px;
    font-family: century gothic;
    color: white;
}

body {
  position: relative;
  background-image: url('filter-backgrond.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: 2px;
}

/* body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  filter: blur(5px); */


.text1{
    padding: 2% 5%;
    font-size: 80px;
}

.text2{
    padding: 1.5% 5%;
    font-size: 20px;
}

#priceDropdown {
    margin-bottom: 20px;
    background-color: rgb(131, 127, 127);
    font-size: 20px;
    padding: 0.2% 1%;
  }

  .labelname{
    font-size: 20px;
    padding: 3%;
  }

  #carList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .car {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
  }

#variableBox {
  padding: 10px;
  padding-left: 100px;
}

.car-link {
  display: block;
  padding: 5px 0;
  padding-left: 20px;
  text-decoration: none;
  color:white;
  font-size: 20px;
}

.car-link:hover{
  color: rgb(2955, 0, 195);
}
